@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html{
    font-family: Poppins, 'Segoe UI', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ebebf6;
    gap: 100px;
}

.socials-container{
    display: flex;
    gap: 20px;
}

.socials-container a{
    background-color: #F6F8FA;
    padding: 1em;
    border-radius: 50%;
    height: 128px;
    width: 128px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socials-container a img{
    height: 80px;
}

.socials-container a::before{
    content: attr(gato);
    position: absolute;
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials-container a:hover{
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.socials-container a:hover::before{
    transform: translateY(-108px) rotate(0);
    opacity: 1;
}

.socials-container a:hover::after{
    transform: translateY(-84px) rotate(0);
    opacity: 1;
}